/* css box model reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Main syle */

/* body style */
body {
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
/* </> */

/* Navigation style */
nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0;
    padding: 5px;
    align-items: center;  
    background: linear-gradient(#330a6a, #4f26aa, #6536d2);
}

header {
    height: 100%;
    font-style: italic;
 	font-weight: bold;
  	font-family: georgia, sans-serif;
    font-size: 36px;
    text-align: center;
    align-content: center;
    margin-left: 10px;
    color: #e0eff2;
    text-shadow: 0 0 20px #000;
}    

.nav-section a{
    padding: 5px;
    margin-right: 20px;
    margin-left: -10px;
    border-radius: 3px;
    background-color: rgb(255, 226, 226);
}

.nav-section a:hover {
    color: rgb(255, 255, 255);
    font-size: larger;   
    background-color: rgb(150, 0, 0);
}


/* Main content style */
.konten{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    height: 700px;
}

article {
    border: #0b165f 3px solid;
    margin-right: 50px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
}

.judul-konten {
    border: 2px gray solid;
    text-align: center;
    background-color: #3a50d9;
    background-image: url(../image/wta.jpg);
    background-size: cover;
    color: #e0eff2;
  	font-style: italic;
 	font-weight: bold;
  	font-family: georgia;
}

.judul-konten h1 {
    font-size: 40px;
  	text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}

.judul-konten p {
    margin-top: -5px;
    margin-bottom: 10px;
}

.gambar-konten {
    border: 2px grey solid;
    height: 250px;
}

.gambar-konten .img1 {
    height: 250px;
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-size: cover;
}


.tombolBanner {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.tombolBanner button {
    width: 200px;
    margin: 10px;
    font: 30px black bold sans-serif;
    border-radius: 50px;
}

.tombolBanner button:hover {
    color: blue;
    background-color: #0b165f;
    border-color: #3a50d9;
}

.deskripsi-konten {
    display: flex;
    background-size: 400% 400%;
    justify-content: left;
    padding-left: 40px;
    padding-top: 20px;
}

.deskripsi-konten .dev-image {
    border: 2px solid peru;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: -50px;
    z-index: 1;
}

.deskripsi-konten .dev-image img {
    width: 100%;
}

.deskripsi-konten .dev-info {
    border: 2px solid rebeccapurple;
    width: 50%;
    height: 100px;
    background: linear-gradient(blue,darkblue,purple);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dev-info h3 {
    margin-top: -30px;
    text-align: center;
    font: 24px bold;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.dev-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: wheat;
    text-align: center;
}


/* </> */

/* Form Style */
* {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    width: 420px;
    background: purple;
    color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: .5s;
}

.form-section:hover{
    backdrop-filter: blur(20px);
    width: 500px;
}

.form-section h1 {
    font-size: 36px;
    text-align: center;
}

.form-section .inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none ;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder {
    color: #fff;
}

.inputbox img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-section .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
    color: rgb(71, 71, 255);
}

.form-section .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.form-section .login-link {
    font-size: 15px;
    text-align: center;
    margin: 10px 0 10px;
}

.form-section .login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.form-section .login-link p a:hover {
    text-decoration: underline;
    color: rgb(71, 71, 255);
}
/* </> */


/* Package Style */
.package {
    height: 300px;
    border: 3px darkmagenta solid;
    background: linear-gradient(to right,#833ab4,#0004ff,#0099ff,#0004ff,#833ab4);
    background-size: 400% 400%;
    animation: bg2 10s ease-in-out infinite;
}

@keyframes bg2 {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.paket {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.paket button {
    width: 200px;
    height: 200px;
}

.paket button:first-child{
    background-image: url(../image/left-button.jpg);
    border-radius: 50%;
}

.paket button:first-child:active{
    opacity: .7;
}

.paket button:last-child{
    background-image: url(../image/arrow-button.jpg);
    border-radius: 50%;
}
.paket button:last-child:active {
    opacity: .7;
}

.package .paket .satu {
    width: 475px;
    height: 250px;
    background: #fff;
} 

/* </> */


/* Footer Style */
footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
    height: 80px;
    display: block;
    background-color: black;
}

footer h4 {
    font-style: italic;
 	font-weight: bold;
  	font-family: georgia, sans-serif;
    font-size: 36px;
}
/* </> */



@media screen and (max-width: 340px){

}


@media screen and (min-width: 576px) {

}