/* css box model reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Main syle */

/* Navigation style */
nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    height: 30px;
    margin: 0;
    padding: 5px;
    align-items: center;
    background-color: rgb(255, 71, 71);
}

header {
    border: 1px solid grey;
    height: 100%;
}

.nav-section a{
    padding: 5px;
    margin-right: 20px;
    margin-left: -10px;
    border: 1px solid greenyellow;
    border-radius: 3px;
    background-color: rgb(255, 226, 226);
}

.nav-section a:hover {
    color: rgb(255, 255, 255);
    font-size: larger;    
    display: inline;
    background-color: rgb(150, 0, 0);
}


/* Main content style */
.konten{
    padding-top: 40px;
    border: yellow 3px solid;
    display: flex;
    justify-content: center;
    background-color: rgb(177, 243, 240);
}

article {
    border: green 3px solid;
    margin-right: 50px;
    width: 500px;
}

.judul-konten {
    border: 2px gray solid;
    text-align: center;
    background-color: #3a50d9;
    color: #e0eff2;
  	font-style: italic;
 	font-weight: bold;
  	font-family: georgia;
}

.judul-konten h1 {
    font-size: 40px;
  	text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}

.judul-konten p {
    margin-top: -5px;
    margin-bottom: 10px;
}

.gambar-konten {
    border: 2px grey solid;
    height: 250px;
}

.deskripsi-konten {
    border: 2px solid grey;
    
}

.form {
    border: lightgreen 3px solid;
    height: 700px;
    width: 300px;
}

.form-section {
    margin-left: 55px;
}

.form-section h2 {
    margin: 40px 0 40px;
}

.form form input{
    border-radius: 5px;
}


.package {
    height: 300px;
    border: 3px darkmagenta solid;
}

ul {
    border: 3px blue solid;
}

footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
}